.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.espacio-superior {
    width: 120px;
    height: 20px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 800px;
    /*padding: 24px;*/
    /*margin: 40px 0px;*/
}

.dibujo-ahorcado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahorcado {}

.letras-adivinadas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#letras-correctas {
    width: 80px;
    height: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
    text-decoration: underline;
    /* identical to box height, or 72px */
    text-align: center;
    color: #0A3871;
}

#guiones {
    width: 80px;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 150%;
    /* identical to box height, or 72px */
    text-align: center;
    color: #0A3871;
}

.letras-erradas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

#letras-incorrectas {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#nuevo-juego {
    width: 210px;
    height: 60px;
    /*left: 24px;*/
    /*top: 24px;*/
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* White */
    color: white;
    background-color: darkblue;
    /* Inside auto layout */
    margin: 0px 8px;
    border-radius: 0.5em;
    border: 1px solid #0A3871;
}

#desistir {
    width: 210px;
    height: 60px;
    /*left: 24px;*/
    /*top: 24px;*/
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 0.5em;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    border: 1px solid #0A3871;
}