.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#logo-alura {}

#mi-logo {}

.espacio-superior {
    width: 120px;
    height: 90px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 800px;
    padding: 24px;
    margin: 40px 0px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-iniciar-juego {
    margin: 20px;
}

#iniciar-juego {
    width: 317px;
    height: 114px;
    left: 24px;
    top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    /* White */
    color: #FFFFFF;
    background: #0A3871;
    margin: 0px 8px;
    border-radius: 0.5em;
    border: 1px solid #0A3871;
}

.btn-nueva-palabra {
    padding: 24px;
}

#nueva-palabra {
    width: 280px;
    height: 67px;
    left: 24px;
    top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    /*flex-grow: 1;*/
    border: 1px solid #0A3871;
    border-radius: 0.5em;
    margin: 0px 8px;
}